DB_HOST=localhost
DB_PORT=5433
DB_NAME=crypto_dwh
DB_USER=crypto_user
DB_PASSWORD=crypto_pass

BINANCE_API_URL=https://api.binance.com/api/v3/klines
BINANCE_KLINES_LIMIT=100
BINANCE_REQUEST_TIMEOUT=10

KLINE_SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT
KLINE_INTERVAL=1h

LOG_LEVEL=INFO
LOG_FORMAT="%(asctime)s | %(levelname)s | %(name)s | %(message)s"
LOG_DATE_FORMAT="%Y-%m-%d %H:%M:%S"
